body {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    background-color: #87CEEB;
    display: flex;
    justify-content: center;
    align-items: center;
}

@font-face {
    font-family: PressStart2P;
    src: url("../assets/fonts/PressStart2P-Regular.ttf") format("truetype");
}

.main-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 3em;
}
