<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flappy Bird</title>
    <link rel="stylesheet" href="../css/general.css">
    <link rel="stylesheet" href="../css/game.css">
    <link rel="stylesheet" href="../css/vision.css">
</head>
<body>
    <div class="main-container">
        <div class="video-view" id="videoView">
            <video class="webcam" autoplay playsinline id="webcam"></video>
            <canvas class="output-canvas" id="outputCanvas" width="1280" height="720" ></canvas>
        </div>
        <div class="game-container">
            <canvas id="board" class="board">
                
            </canvas>
            
            <button class="restart" id="restart"> 
                <img src="../assets/images/restart-btn.png" alt="restart game">
            </button>
        </div>
    </div>
</body>
<script type="module" src="../js/game.js"></script>
<script type="module" src="../js/vision.js"></script>
</html>