<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flappy Bird</title>
    <link rel="stylesheet" href="../css/general.css">
    <link rel="stylesheet" href="../css/game.css">
    <link rel="stylesheet" href="../css/vision.css">
</head>
<body>
    <div class="main-container">
        <!-- <div class="video-view" id="videoView">
            <video class="webcam" autoplay playsinline id="webcam"></video>
            <canvas class="output-canvas" id="outputCanvas" width="1280" height="720" ></canvas>
        </div> -->
        <div class="instructions-container">
            <div class="text-container">
                <h1>Instrucciones</h1>
                <ol>
                    <li><b>Avanza entre las tuberias sin chocar</b></li>
                    <li><b>Levanta y baja el índice para saltar</b></li>
                    <li><b>Evita tocar el suelo</b></li>
                    <li><b>Pulgar arriba para iniciar</b></li>
                    <li><b>Entre más avances, ¡acumularás puntos!</b></li>
                </ol>
            </div>
            <div class="actions-container">
                <button class="start" id="start"> 
                    <img src="../assets/images/start-btn.png" alt="restart game">
                </button>
                <b id="or">ó</b>
                <img id="likeHand" src="../assets/images/like_hand.png" alt="Pulgar arriba">
            </div>
        </div>
    </div>
</body>
<script type="module" src="../js/game.js"></script>
<script type="module" src="../js/vision.js"></script>
</html>