<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/general.css">
    <link rel="stylesheet" href="../css/vision.css">
</head>
<body>
    <div class="video-view" id="videoView">
        <video class="webcam" autoplay playsinline id="webcam" width="320" height="240"></video>
        <canvas class="output-canvas" id="outputCanvas" width="320" height="240"></canvas>
    </div>
</body>
<script type="module" src="../js/vision.js"></script>
</html>